.vertical-timeline--two-columns .vertical-timeline-element-content{
    padding: 10px !important;
    margin-left: 0;
    width: 44%;
}
.vertical-timeline--two-columns .vertical-timeline-element-icon{
    width: 40px !important;
    height: 40px !important;
    left: 50%;
    margin-left: -20px !important;
}
.vertical-timeline {
    width: 95%;
    max-width: 720px !important;
    margin: 0 auto;
    position: relative;
    padding: 2em 0;
}